@import "tailwindcss";

:root {
  --background: #0d0d0d;
  --foreground: #e6e6e6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
